:root {
    --basic-button-hover-background: hsl(var(--hsl-dark-grey));
    --border-color: hsl(var(--hsl-dark-grey));
    --button-background: hsl(var(--hsl-light-grey));
    --button-focus-color: hsl(var(--hsl-dark-grey) / 40%);
    --button-hover-background-color: hsl(var(--hsl-light-grey) / 50%);
    --button-hover-color: hsl(var(--hsl-dark-grey) / 40%);
    --button-text-color: hsl(var(--hsl-dark-grey));
    --checkbox-active-check-color: hsl(var(--hsl-dark-grey));
    --checkbox-focus-label-color: hsl(var(--hsl-yellow));
    --checkbox-pressed-label-color: hsl(var(--hsl-yellow) / 50%);
    --checkbpx-label-color: hsl(var(--hsl-yellow));
    --disabled-text-color: hsl(var(--hsl-base02) / 10%);
    --dropdown-active-item-background: hsl(var(--hsl-dark-grey));
    --dropdown-active-item-color: hsl(var(--hsl-yellow));
    --dropdown-hovered-item-color: hsl(var(--hsl-yellow) / 90%);
    --dropdown-menu-background: hsl(var(--hsl-bg));
    --editor-background: hsl(var(--hsl-bg-muted));
    --editor-drawer-background: hsl(var(--hsl-bg));
    --editor-floating-actions-background: hsl(var(--hsl-bg));
    --focused-form-border-color: hsl(var(--hsl-dark-grey));
    --focused-form-muted-border-color: hsl(var(--hsl-dark-grey));
    --focused-outline-color: 1px solid hsl(var(--hsl-yellow));
    --focused-outline-style: transparent;
    --form-input-focus-border-color: hsl(var(--hsl-yellow));
    --form-input-focus-color: var(--text-color);
    --grouped-segment-hover-background: hsl(var(--hsl-yellow) / 30%);
    --header-text-color: hsl(var(--hsl-light-grey));
    --hovered-text-color: hsl(var(--hsl-yellow));
    --inline-dropdown-menu-background: hsl(var(--hsl-bg));
    --input-background: hsl(var(--hsl-dark-grey));
    --input-color: hsl(var(--hsl-yellow));
    --input-focus-border-color: transparent;
    --kbd-background: hsl(var(--hsl-light-grey));
    --kbd-color: hsl(var(--hsl-dark-grey));
    --label-basic-background: hsl(var(--hsl-dark-grey));
    --light-text-color: hsl(var(--hsl-light-grey));
    --link-color: hsl(var(--hsl-cyan));
    --link-hover-color: hsl(var(--hsl-cyan) / 60%);
    --mark-color: hsl(var(--hsl-yellow));
    --menu-active-hover-item-background: hsl(var(--hsl-bg-muted));
    --menu-active-hover-item-color: hsl(var(--hsl-yellow));
    --menu-active-item-text-color: var(--text-color);
    --modal-box-actions-background: hsl(var(--hsl-bg-muted));
    --modal-box-content-background: hsl(var(--hsl-bg-muted));
    --modal-box-header-background: hsl(var(--hsl-bg-muted));
    --modal-box-header-color: var(--text-color);
    --muted-text-color: hsl(var(--hsl-base02) / 30%);
    --note-list-bar-background: hsl(var(--hsl-bg-muted));
    --note-list-bar-border-right: 0.875px solid hsl(var(--hsl-dark-grey));
    --note-list-view-item-active-background: hsl(var(--hsl-base03));
    --note-list-view-item-color: hsl(var(--hsl-light-grey));
    --note-list-view-item-date-color: hsl(var(--hsl-base03));
    --note-list-view-item-header-color: hsl(var(--hsl-light-grey));
    --note-list-view-item-selected-background: hsl(var(--hsl-dark-grey) / 70%);
    --note-list-view-item-separator-border: 0.875px solid hsl(var(--hsl-dark-grey));
    --note-search-bar-border-bottom: 1px solid hsl(var(--hsl-dark-grey));
    --note-tags-bar-input-background: hsl(var(--hsl-dark-grey));
    --page-background: hsl(var(--hsl-bg-muted));
    --piled-segments-background: hsl(var(--hsl-dark-grey));
    --preferences-sidebar-background: hsl(var(--hsl-bg));
    --preferences-sidebar-item-active-background: hsl(var(--hsl-yellow));
    --preferences-view-background: hsl(var(--hsl-bg-muted));
    --pressed-text-color: hsl(var(--hsl-yellow));
    --primary-button-background-color: hsl(var(--hsl-bg));
    --primary-button-hover-background-color: hsl(var(--hsl-bg) / 70%);
    --primary-color-focus: hsl(var(--hsl-base02));
    --primary-color: hsl(var(--hsl-yellow));
    --secondary-segment-background: hsl(var(--hsl-dark-grey));
    --segment-background: hsl(var(--hsl-dark-grey) / 50%);
    --selection-list-active-background: hsl(var(--hsl-yellow));
    --selection-list-active-color: hsl(var(--hsl-base03));
    --selection-list-hover-background: hsl(var(--hsl-dark-grey));
    --sidebar-background: hsl(var(--hsl-bg));
    --sidebar-border-right: 1px solid hsl(var(--hsl-dark-grey));
    --sidebar-menu-active-item-color: hsl(var(--hsl-base03));
    --sidebar-menu-item-active-background: transparent;
    --sidebar-menu-item-inactive-background: hsl(var(--hsl-yellow));
    --sidebar-sync-status-view-background: hsl(0, 0%, 3%);
    --sidebar-sync-status-view-border-top: 0.875px solid hsl(var(--hsl-dark-grey));
    --solid-border-color: hsl(var(--hsl-dark-grey));
    --solid-internal-border-color: hsl(var(--hsl-dark-grey));
    --table-background: hsl(var(--hsl-dark-grey));
    --table-header-background: var(--message-background);
    --tabular-menu-active-background: hsl(var(--hsl-yellow));
    --tag-grey-color: hsl(var(--hsl-light-grey));
    --tag-yellow-color: hsl(var(--hsl-yellow));
    --task-icon-active: hsl(223 72% 68%);
    --task-icon-completed: hsl(147 72% 68%);
    --task-icon-dropped: hsl(360 72% 68%);
    --task-icon-onhold: hsl(38 72% 59%);
    --unselected-text-color: hsl(var(--hsl-base02));
    --vertical-menu-background: hsl(var(--hsl-bg));
}
